<% include partials/header %>

<h1>This is the show template</h1>
<p>Campground Name: <%= campground.name %></p>
<img src="<%= campground.image %>">
<p>Location: <%= campground.location %></p>
<p>Description: <%= campground.description %></p>
<% campground.comments.forEach( comment => { %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
	</p>
<% }) %>
<a href="/campgrounds">Go Back</a>

<% include partials/footer %>