<% include ../partials/header %>

<div class="container mt-5">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Campground Reviews</p>
			<div class="group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div> <!-- /col-md-3 -->

		<div class="col-md-9">

			<div class="card card-outline-secondary">
				<img class="img-responsive img-rounded mb-2" src="<%= campground.image %>">
				<div class="card-block">
					<h6 class="card-subtitle float-right">$9.00/night</h6>
					<h2 class="card-subtitle"><a href=""><%= campground.name %></a></h2>
					<h5 class="text-muted mt-2"><%= campground.location %></h5>
					<p class="mt-5"><%= campground.description %></p>
					<p class="mt-5">
						<em>Submitted by: <%= campground.author.username %></em>
					</p>
					<a class="btn btn-warning mt-3 edit-btn" href="/campgrounds/<%= campground._id %>/edit">Edit Campground Info</a>
					<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
						<button class="btn btn-danger mt-3 delete-btn">Delete Campground</button>
					</form>
				</div>
			</div>

			<div class="card bg-faded mt-5">
				<div class="card-block">
					<a class="btn btn-success btn-sm float-right" href="/campgrounds/<%= campground._id %>/comments/new">
						Add New Comment
					</a>
					<h4 class="card-title mb-4">Comments</h4>
					<hr class="mb-5">
					<% campground.comments.forEach( comment => { %>
						<div class="row">
							<div class="col-md-12">
								<span class="float-right">10 days ago</span>
								<p class="font-weight-bold"> <%= comment.author.username %> </p>
								<p class="card-text mb-5"><%= comment.text %></p>
							</div>
						</div>
					<% }) %>
				</div>
			</div>

		</div> <!-- /col-md-9 -->

	</div> <!-- /row -->
</div> <!-- /container -->

<a href="/campgrounds">Go Back</a>

<% include ../partials/footer %>

